

  div.postForm {
    width: 100%;
  }

  form.form-post{
    align-items: center;
  }

 .inputForm {
    width: 100%;
    min-height: 150px;
    background-color: rgba(255, 255, 255,255);
    box-shadow: rgba(111, 115, 119, 0.2) 0px 8px 24px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    resize: none;
  }

  textarea.inputForm:focus {
    outline: none;
  }


   button#btn-inputForm {
    width: 20%;
    height: 2rem;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: #ff4554;
    color: #ffffff;
    border: none;
    border-radius: 999px;
  }

  button#btn-inputForm:hover {
  transform: scale(1.05) rotate(0deg);
  opacity: 0.8;
  }