

div.filter-btn-group>button{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 15rem;
}


button#filter-btn-mypost{
    background-color: #ff4554;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button#filter-btn-mypost:hover{
    transform: scale(1.02) rotate(0deg);
    opacity: 0.8;
}

input#filter-checkbox-solved{
    transform: scale(3);
    margin-right: 15px;
}

input#filter-checkbox-unsolved{
    transform: scale(3);
    margin-right: 15px;
}

label#solved-label, label#unsolved-label{
    margin-right: 25px;
}